/* .section-customer {
  align-items: center;
} */
.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.6rem auto;
}

.add-icon {
  width: 2.4rem;
  height: 2.4rem;
}
